{% extends 'news/base.html' %}
{% load static %}

{% block title %} Foydalanuvchi parolini tiklash {% endblock title %}
{% block content %}
<h1>Parolni tiklash</h1>
<p>Parolni qayta tiklash uchun Emailingizni qayta kiriting</p>
{% if validlink %}
<p>Iltimos yangi prolni 2 marotaba kiriting</p>
<form method="post">{% csrf_token %}
  {{ form.as_p }}
  <p><button type="submit">Parolni almashtirish</button></p>

</form>
{% else %}
<p>Siz notogri linkdan foydalandingiz vaqti o'tib ketgan bo'lishi mumkin</p>
{% endif %}

<h2><a href="{% url 'home_page' %}">Bosh Sahifaga Qaytish</a></h2>


{% endblock content %}